@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@media  screen and (max-width: 1200px) and (min-width: 1025px){
    .mynavedit a:hover{
    
        background-color: red;
          color: white;
    
    }
    button{
        border: none;
    }
    body button:hover{
        
            background-color: red;
              color: white;
        
    }
    body{
        font-family: 'Rubik', sans-serif;
        line-height: 1.6;
        width : 100%;
        max-width: 1200;
        min-width: 1025px;
    
    }
    .mynavedit{
        margin-right: 17%;
        display: flex;
    }
    .newcolor{
        background-color: hsl(0, 94%, 66%);
        padding: 8px;
        width: 6rem;
        
    }
    .firstsection{
        
       
        padding: 2rem 12rem 6rem 14rem;
    }
    
    .firstsectbm{
        padding-right: 2rem;
        padding-top: 2rem;
        
    }
    .container{
        position: relative;
        width: 450px; float: right;
    }
    .emptydivone{
        height: 200px;
        width: 330px;
        background-color: rgb(83,104,223);
        z-index: 1;
        position: relative;
        bottom: 12em;
        left: 130px;
        border-bottom-left-radius: 5rem;
    
    }
    .toplayer img{
        z-index: 2;
        position: relative;
      left: 0px;
      top: 0px;
      
    }
    
    .separatebuttons{
        display: flex;
        
        
    }
    .divider{
        width:5px;
        height:auto;
        display:inline-block;
    }
    .button1 button{
        width: 8rem;
         color: white;
         background-color: hsl(231, 69%, 60%) ;
         font-size: small;
         padding: 0.5rem;
         border-radius: 0.3rem;
    }
    .button2 button{
        width: 8rem;
         color: black;
         background-color: white ;
         font-size: small;
         padding: 0.5rem;
         border-radius: 0.3rem;
    }
    .secondsection{
        display: block;
        position: relative;
        height: auto;
        width: 50%;
        
        
        right: -19em;
        
        text-align: center;
    }
    
    .thirdsection{
        display: flex;
        justify-content: center;
        
        font-family: 'Rubik', sans-serif;
    }
    
    .thirdsection hr{
        display: none;
    }
    
    .fourthsection{
        display: flex;
        justify-content: center;
        padding: 3rem 16rem 12rem 16rem;
    }
    .container2{
        position: relative;
    }
    .illustratortwo img{
        z-index: 2;
        position: relative;
      left: 0px;
      top: 0px;
    }
    .emptydivtwo{
        height: 220px;
        width: 400px;
        background-color: rgb(83,104,223);
        z-index: 1;
        position: relative;
        bottom: 9.5em;
        right: 4em;
        border-bottom-right-radius: 5rem;
    }
    .forthsectbm{
        padding-left: 4.5rem;
        font-family: 'Rubik', sans-serif;
    }
    .forthsectbm button{
        color: white;
         background-color: hsl(231, 69%, 60%);
         font-size: small;
         padding: 0.5rem;
         border-radius: 0.3rem;
    }
    .accordion {
        background-color:white;
        color: none;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        
        
      }
      
      
      .active, .accordion:hover {
        border-bottom: 3px solid red;
      }
      
      .panel {
        padding: 0 18px;
        display: none;
        background-color: hsl(231, 69%, 60%);
        overflow: hidden;
        color: white;
        width: 12em;
        
      }
      .fifthsection{
          text-align: center;
          font-family: 'Rubik', sans-serif;
          padding-left: 30%;
          padding-right: 30%;
      }
      .sixthsection{
          display: flex;
          justify-content: center;

          
     }
          
         
     
      .sixthsection div{
          border: 1rem solid white;
          
           
      }
      .chrome hr{
        border-top: 2px dotted gray;
        background-color: white;
      }
      .firefox hr{
        border-top: 2px dotted gray;
        background-color: white;
      }
      .opera hr{
        border-top: 2px dotted gray;
        background-color: white;
      }
     .chrome button{
         width: 12rem;
         color: white;
         background-color: hsl(231, 69%, 60%);
         font-size: small;
         padding: 0.5rem;
         border-radius: 0.3rem;
     }
     .firefox button{
        width: 12rem;
        color: white;
        background-color: hsl(231, 69%, 60%);
        font-size: small;
        padding: 0.5rem;
        border-radius: 0.3rem;
     }
     .opera button{
        width: 12rem;
        color: white;
        background-color: hsl(231, 69%, 60%);
        font-size: small;
        padding: 0.5rem;
        border-radius: 0.3rem;
     }
     .chrome{
         text-align: center;
         box-shadow: 1.5px 1.5px 5px 0.5px rgb(224, 222, 222);
         margin-right: 2em;
         height: 17em;
         
     }
     .firefox{
          margin-top: 1.6rem;
          text-align: center;
          box-shadow: 1.5px 1.5px 5px 0.5px rgb(224, 222, 222);
          height: 17em;
      }
      .opera{
          margin-top: 3rem;
          margin-left: 2em;
          text-align: center;
          box-shadow: 1.5px 1.5px 5px 0.5px rgb(224, 222, 222);
          
      }
      .seventhsection{
        padding: 8rem 24rem 10rem 24rem;
        text-align: center;
        
       
        
      }
      
      
      .seventhsection h3{
          text-align: center;
          font-family: 'Rubik', sans-serif;
      }
      .seventhsection p{
        text-align: center;
        font-family: 'Rubik', sans-serif;
    }
      .seventhsection select{
        /* margin-left: 68%; */
        border: none;
      }
      .seventhsection div{
          text-align: left;
          
      }
      .questions{
        display: flex;
    }
    .faq{
        right: 24.5rem;
        position: absolute;
        transition: 0.4s;
        border: none;
        background-color: white;
        color: black;
    }
    .active, .faq:hover {
      border-bottom: 3px solid white ;
    }
    .drop {
      padding: 0 18px;
      display: none;
      background-color: hsl(231, 69%, 60%);
      overflow: hidden;
      color: white;
      width: 12em;
      
    }
    
    .secondbutton button{
        
        background-color: hsl(231, 69%, 60%);
        font-size: small;
        padding: 0.5rem;
        color: white;
        border-radius: 0.3rem;
        
  
    }
    .secondbutton{
      margin-left: auto;
      margin-right: auto;
      width: 6em;
    }
      footer{
        overflow: hidden;
        
        
        
      }
      .sectioneight{
          text-align: center;
          background-color:rgb(82,103,223);
          color: white;
          padding: 6rem;
          position: relative;
         
      }
      .sectionnine a:hover{
    
        background-color: red;
          color: white;
      }
      .sectioneight button{
          background-color: hsl(0, 94%, 66%);
          color: white;
          font-size: small;
          padding: 0.5rem;
          border-radius: 0.3em;
      }
      .sectioneight input{
        font-size: small;
        padding: 0.5rem;
        border-radius: 0.3em;
      }
      .sectioneight button:hover{
        background-color: gray;
    }
    .sectioneight input:hover{
        background-color: gray;
    }
      .sectionnine{
          display: flex;
          background-color: hsl(228, 42%, 88%);
          height: 5rem;
          width: auto;
          
          
      }
      .sectionnine a{
          
          color: black;
          text-decoration: none;
          padding: 0.5rem;
          font-size: small;
          
          
      }
      .footbmlogo{
          color: white;
          margin-left: 10%;
          padding-top: 2rem;
      }
      .footerlogo{
          
          
          padding-top: 2rem;
          display: flex;
          position: relative;
          left: 28em;
          padding-right: 1rem;
          
      
      }
      
      .footernavdetails{
          padding-top: 2rem;
          right: -5rem;
          position: relative;
    
      }
      .copyright{
        background-color: gray;
        color: white;
        text-align: center;
        padding: 2em;
        font-size: small;
    }
    }

    
    
    